body {
    font-family: Arial, sans-serif;
    background-color: #fff3cd;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #060505; 
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #fff3cd; 
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.)
}